{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2 class="h2 text-center">Recipe Genie!</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="text-danger text-center">
            {% for message in messages %}
                <li style="list-style: none">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h4 class="text-capitalize">Enter ingredients manually </h4>
     <a class="col-sm-3" id="add" href="#">Add Ingredient</a>
        {# Show all subforms #}
        <form id="ing-form" action="{{ url_for('index') }}" method="POST" role="form">
            {{ form.hidden_tag() }}

            <div id="subforms-container">
                {% for subform in form.ingredients %}
                    <div id="ing-{{ loop.index0 }}-form" class="subform" data-index="{{ loop.index0 }}">
                        {{ subform.ingredient }}

                        <a class="remove" href="#">Remove</a>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-3 my-2">
            <button type="submit" class="btn btn-primary btn-block">Get Recipes</button>
            </div>
        </form>

        {% if form.errors %}
            {{ form.errors }}
        {% endif %}

        {# Form template #}
        <div id="ing-_-form" class="is-hidden" data-index="_">
            <label for="ingredients-_-ingredient" class="sr-only">Ingredient</label>
            <input id="ingredients-_-ingredient" name="ingredients-_-ingredient" class="col-sm-3 my-1" type="text" value="" placeholder="Enter ingredient">

            <a class="remove" href="#">Remove</a>
        </div>
    <br/>
    <h4 class="text-captalize">Or Upload Image</h4>
    <form action="{{ url_for('upload_image') }}" method="POST" enctype="multipart/form-data">
        <div class="col-sm-3 col-md-offset-3 my-1">
          <label>Select image of type jpg/png/jpeg</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">
            <label class="custom-file-label" id="custom-file-label" for="image">Select image...</label>
          </div>
        </div>
        <div class="col-sm-3 col-md-offset-3 my-2">
            <button type="submit" class="btn btn-primary">Check Ingredients</button>
        </div>
      </form>
</div>
{% endblock content %}